<div class="container">
  <div class="row main">
    <div class="main-login main-center">
      <form class="form-horizontal" [formGroup]="loginForm">
        <div class="form-group">
          <label for="mail" class="cols-sm-2 control-label"><span>Adresse Email</span></label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input formControlName="email" type="email" class="form-control" id="mail" aria-describedby="emailHelp" placeholder="Entrez votre e-mail">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="pwd" class="cols-sm-2 control-label"><span>Mot de passe</span></label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input formControlName="password" type="password" class="form-control" id="pwd" placeholder="Entrez votre mot de passe">
            </div>
          </div>
        </div>

        <div class="form-group ">
          <button type="submit" class="btn btn-primary btn-lg btn-block login-button" (click)="login()"><span>Se connecter</span></button>
        </div>
        <div class="login-register">
                <a [routerLink]="['/register']" routerLinkActive="active"><span>S'inscrire</span></a>
             </div>
      </form>
    </div>
  </div>
</div>