<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">BookApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active">Inscription</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Connexion</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/userlist']" routerLinkActive="active">Listes</a>
          </li>
      </ul>
  </div>
</nav>




<router-outlet></router-outlet>