<nav class="navbar navbar-expand-sm navbar-dark sidebar-collapse">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
        <img src="../../../assets/AppLogo.png" class="logo">
    </a>
    <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
    <!-- Links -->
    <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active"
                    *ngIf="!isAuth"><span>Inscription</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active"
                    *ngIf="!isAuth"><span>Connexion</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/userlists']" routerLinkActive="active"
                    *ngIf="isAuth"><span>Listes</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/search']" routerLinkActive="active"><span>Recherche</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/search']" (click)="logout()"
                    *ngIf="isAuth"><span>Déconnexion</span></a>
            </li>
        </ul>
    </div>

</nav>