$color-1: #363636;
$color-4: #363636;

body,h1,h2,h3,h5,h6 {
  font-family: "Raleway", sans-serif ; 
  color : $color-4 ;
  margin:auto 2em;
  margin-top: 1em;
}

h4 {
  font-size:xx-large;
}


body, html {
  height: 100%;
  line-height: 1.8;
}

#logo {
  margin: auto;
}

#main {
  margin-top: 5em;
}

.content {
  height: 100%; 
  transform: translateY(40%);
}
@media only screen and (max-width: 1200px) {
  .content {
    transform: translateY(0%);
  }
}