<div id="main" class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="../../../assets/mockup.png" alt="Logo"  class="w-100">
    </div>
    <div class="col-md-6 content">
      <h4>
        Bienvenue sur BookApp,
      </h4>
      <p>
        Vous trouverez ici une multitude d’informations sur vos livres préférés.
      </p>
      <p>
        Vous cherchez un livre en particulier ? Notre outil de recherche sera là
        pour vous aider à trouver votre bonheur. Il vous permettra aussi d’accéder
        à des recommandations personnalisées.
      </p>
      <p>
        Si vous souhaitez garder une trace de vos lectures n’hésitez pas à vous
        inscrire et ainsi à accéder à des listes de lecture personnelles.
      </p>
    </div>
  </div> 
  <div class="row">
    <div class="col-md-6 content">
      <h4>
        Compatible avec tous les écrans
      </h4>
      <p>
        BookApp est compatible avec toutes tailles d'écrans !
      </p>
      <p>
        Avec son design épuré, vous pouvez profiter de notre outil en toute circonstance.
      </p>
    </div>
    <div class="col-md-6">
      <img src="../../../assets/mockup-responsive.png" class="w-100">
    </div>
  </div>

  
 


</div>