// @import '/assets/var';
$color-1: #363636;
$color-2: #F3D8C7;
$color-3: #EFE5DC;
$color-4: #FBFEFB;

.main{
    margin: 2em;
}

.title{
    margin:auto 2em;
    color: $color-1;
}

/***** GRID *****/
.wrapper {
    margin: 3em auto;
    max-height: 80vh;
}

.grid {
    max-height: 80vh;
    padding: 1em;
    margin: 1em auto;
}


.btn{
    margin-right: 5px;
}
/***** CARD *****/

.card {
    margin: 0 auto;
    max-width: 350px;
}
.card-body{
    margin : 0 auto;
}

.scrollable{
    overflow-y: auto;
}