<div class="main">
    <h1 class="title display-12">Connecté(e) en tant que {{userName}}!</h1>
    <div class="wrapper">
        <div class="favBookGrid scrollable shadow-lg rounded">
            <h3 class="text-center mt-3"><i class="fa fa-star"></i> Favoris</h3>
            <div class="d-flex flex-column text-center" *ngFor="let book of favsList; let i = index">
                <div class="p-2 mb-4">
                    <div class="card bg-light">
                        <div class="card-header">
                            <p class="card-title">{{favsList[i].volumeInfo.title}}</p>
                        </div>
                        <div class="card-body">
                            <img class="img-thumbnail card-img-bottom" src="{{favsList[i].volumeInfo.thumbnail}}">
                        </div>
                        <div class="card-footer">
                            <div class=" action-list text-center">
                                <button class="btn" title="Ajouter aux favoris" (click)=deleteFav(book)><i
                                        class="fa fa-trash"></i></button>
                                <button class="btn" title="Ajouter aux livres lus" (click)=addToRead(book)><i
                                        class="fa fa-book"></i></button>
                                <button class="btn" title="Ajouter aux livres à lire" (click)=addToToRead(book)><i
                                        class="fa fa-book-reader"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="readedBookGrid scrollable shadow-lg rounded">
            <h3 class="text-center mt-3"><i class="fa fa-book"></i> Livres lus</h3>
            <div class="d-flex flex-column text-center" *ngFor="let book of readsList; let i = index">
                <div class="p-2 mb-4">
                    <div class="card bg-light">
                        <div class="card-header">
                            <p class="card-title">{{readsList[i].volumeInfo.title}}</p>
                        </div>
                        <div class="card-body">
                            <img class="img-thumbnail card-img-bottom" src="{{readsList[i].volumeInfo.thumbnail}}">
                        </div>
                        <div class="card-footer">
                            <div class="action-list text-center">
                                <button class="btn" title="Ajouter aux favoris" (click)=deleteRead(book)><i
                                        class="fa fa-trash"></i></button>
                                <button class="btn" title="Ajouter aux livres lus" (click)=addToFav(book)><i
                                        class="fa fa-star"></i></button>
                                <button class="btn" title="Ajouter aux livres à lire" (click)=addToToRead(book)><i
                                        class="fa fa-book-reader"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toReadBookGrid scrollable shadow-lg rounded">
            <h3 class="text-center mt-3"><i class="fa fa-book-reader"></i> Livres à lire</h3>
            <div class="d-flex flex-column text-center" *ngFor="let book of toReadsList; let i = index">
                <div class="p-2 mb-4">
                    <div class="card bg-light">
                        <div class="card-header">
                            <p class="card-title">{{toReadsList[i].volumeInfo.title}}</p>
                        </div>
                        <div class="card-body">
                            <img class="img-thumbnail card-img-bottom" src="{{toReadsList[i].volumeInfo.thumbnail}}">
                        </div>
                        <div class="card-footer">
                            <div class="action-list text-center">
                                <button class="btn" title="Ajouter aux favoris" (click)=deleteToRead(book)><i
                                        class="fa fa-trash"></i></button>
                                <button class="btn" title="Ajouter aux livres lus" (click)=addToFav(book)><i
                                        class="fa fa-star"></i></button>
                                <button class="btn" title="Ajouter aux livres à lire" (click)=addToRead(book)><i
                                        class="fa fa-book"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>