// @import '/assets/var';
$color-1: #363636;
$color-2: #F3D8C7;
$color-3: #EFE5DC;
$color-4: #FBFEFB;

.main{
    margin-top: 2em;
}

.title{
    margin:auto 2em;
    color: $color-1;
}

/***** GRID *****/
.wrapper {
    margin: 3em auto;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, 80vh);
}

.favBookGrid {
    grid-row: 1;
    grid-column: 1 / 2;
    background-color: $color-4;
}

.readedBookGrid {
    grid-row: 1;
    grid-column: 2 / 3;
    background-color: $color-4;
}

.toReadBookGrid{
    grid-row: 1;
    grid-column: 3 / 4;
    background-color: $color-4;
}

/***** CARD *****/
.btn{
    margin-right: 5px;
}

.card {
    margin: 0 auto;
    max-width: 350px;
}
.card-body{
    margin : 0 auto;
}

.scrollable{
    overflow-y: auto;
}