<form #searchBook="ngForm" (ngSubmit)="searchBooks()">
    <div class="from row">
        <div class="form-group col  ">
            <input type="email" class="form-control" placeholder="Search for anything" name="content" id="content"
                rows="3" [(ngModel)]="model.content">

        </div>
    </div>
    <div class="from row">
        <div class="form-group col">
            <input type="email" class="form-control" placeholder="Author" name="author" id="author" rows="3"
                [(ngModel)]="model.author">
        </div>
    </div>
    <button type="submit" class="btn btn-secondary">Go</button>
</form>
<div class="row">
    <div class="col">
        <div class="livres">
        </div>
    </div>
</div>