// @import '/assets/var';
$color-1: #363636;
$color-2: #F6F9FF;
$color-3: #efe5dc;
$color-4: #F5F5F5;

.main {
    margin: auto 5%;
}

.searchForm {
    margin: 1em auto;
    width: 100%;
}

.form-control {
    width: 40%;
    margin: 0 0.25em 0.5em 0.25em;
}
#searchBtn {
    margin: 0 0.25em;
}

.card-body {
    padding: 5px;
}
.card-title {
    margin-bottom: 0;
}
.bookTitle {
    font-size: x-large;
}

.book-container {
    margin: 1em auto;
    max-height: 250px;
}

.img-preview {
    width: 80%;
    height: auto;
    max-height: 250px;
    margin: 2em auto;
}

.scrollable {
    overflow-x: hidden;
    overflow-y: scroll;
}

.zoom-in {
    transition: transform 0.2s;
}
.zoom-in:hover {
    transform: scale(1.2);
}

.style-07 {
    position: relative;
}

.grid-container {
    display: grid;
    width: 100%;
    height: 250px; 
    width: 300px; 
    margin: auto 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "title-area image-area";
}

.title-area {
    grid-area: title-area;
}

.image-area {
    grid-area: image-area;
}

.style-07::before,
.style-07::after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 0;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
    background-image: linear-gradient(to right, $color-2, $color-4);

    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
}
.style-07::after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}

@media only screen and (max-width: 400px) {
    p, span, input {
        font-size: 0.8em;
    }
    .grid-container {
        height: 150px; 
        width: 200px; 
        margin: auto 1em;
    }
    .img-preview{
        max-height: 100px;
        max-width: 100px;
        width: auto;
    }
}