$color-1: #a37f6c;
$color-2: #F3D8C7;
$color-3: #EFE5DC;
$color-4: #FBFEFB;

body {
    height: 100vh;
    background-image: linear-gradient($color-2 0%, $color-4 100%);
}
nav {
    background-color: $color-1;
}

img {
    width: 100px;
    height: auto;
}
table {
    padding: 2em;
}
h1 {
    font-family: "Walter Turncoat";
    font-style: normal;
    font-variant: normal;
    font-size:xx-large;
    font-weight: 800;
    line-height: 20px;
}
h3 {
    font-family: "Walter Turncoat";
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 18.7px;
}
p, span, input {
    font-family: "Walter Turncoat";
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}
a{
    color: $color-1;
}
a:hover{
    color: $color-1;
    text-decoration: none;
}
a:hover>*{
    font-weight: bold;
}

.btn{
    color: white;
    background-color: $color-1;
}
.btn:hover{
    color: white;
}

.card-body{
    padding: 5px;
}
.card-title {
    margin-bottom: 0;
}
.bookTitle {
    font-size: x-large;
}

/***** GRID *****/
.wrapper {
    margin: auto 5em;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, 80vh);
}
.bookListGrid {
    grid-row: 1;
    grid-column: 1 / 2;
    background-color: $color-4;
}
.bookDetailGrid {
    grid-row: 1;
    grid-column: 2/9;
    background-color: $color-4;
}
.scrollable {
    overflow-x: hidden;
    overflow-y: scroll;
}


.grid-container {
    height: 100%;
    margin: 2em;
    display: grid;
    grid-template-columns: 1.2fr 2fr 1fr;
    grid-template-rows: 0.2fr 0.8fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
      "book-image-area book-title-area ."
      "book-image-area book-description-area action-list-area"
      "more-info-area . .";
  }
  
.book-image-area { grid-area: book-image-area; }

.book-title-area { grid-area: book-title-area; }

.book-description-area { grid-area: book-description-area; }

.action-list-area { grid-area: action-list-area; }

.more-info-area { grid-area: more-info-area; }
  
.main{
    margin: auto 5%;
}

.img-content {
    max-width: 250px;
    width: 100%;
    margin: auto;
}
