// @import '/assets/var';
$color-1: #363636;
$color-2:#f5f5f5;
$color-3: #EFE5DC;
$color-4: #FBFEFB;
$color-5: #7ACBCD ;


body {
    min-height: 100vh;
    background-image: linear-gradient($color-2 0%, $color-4 100%);
}
nav {
    background-color: $color-1;
    color: $color-4;
}

img {
    width: 100px;
    height: auto;
}
table {
    padding: 2em;
}

h1, h3, p, span, input {
    font-family: "Montserrat";
    font-style: normal;
    font-variant: normal;
}

h1 {
    font-size:xx-large;
    font-weight: 800;
    line-height: 20px;
    color: $color-4;
}
h3 {
    font-weight: 700;
    line-height: 18.7px;
    color: $color-5;
}
p, span, input {
    font-family: 'Yusei Magic', sans-serif;
    font-weight: 400;
    line-height: 20px;
    color: $color-1;
}
span{
    color: $color-4;
}
a{
    color: $color-1;
}
a:hover{
    color: $color-1;
    text-decoration: none;
}
a:hover>*{
    font-weight: bold;
}

.btn{
    color: $color-4;
    background-color: $color-1;
}
.btn:hover{
    color: $color-4;
}

@media only screen and (max-width: 575px) {
    p, span, input {
        font-size: 0.8em;
    }
}
