$color-1: #a37f6c;
$color-2: #F3D8C7;
$color-3: #EFE5DC;
$color-4: #FBFEFB;

.grid-container {
    height: 100%;
    margin: 2em;
    display: grid;
    grid-template-columns: 1.2fr 2fr 1fr;
    grid-template-rows: 0.2fr 0.8fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
      "book-image-area book-title-area action-list-area"
      "book-image-area book-description-area action-list-area"
      "more-info-area . .";
  }

.grid-container-not-logged {
    height: 100%;
    margin: 2em;
    display: grid;
    grid-template-columns: 1.2fr 3fr;
    grid-template-rows: 0.2fr 0.8fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
      "book-image-area book-title-area"
      "book-image-area book-description-area"
      "more-info-area .";
  }

.book-image-area { grid-area: book-image-area; }

.book-title-area { grid-area: book-title-area; }

.book-description-area { grid-area: book-description-area; }

.action-list-area { grid-area: action-list-area; }

.more-info-area { grid-area: more-info-area; }

.img-content {
    max-width: 250px;
    width: auto;
    margin: auto;
}

.action-list > *{
    margin: 0.5em;
    width: 3rem;
    max-width: 250px;
    color: $color-1;
    background-color: $color-4;
    border-color: $color-1;
}
.action-list > *:hover{
    color: $color-4;
    background-color: $color-1;
}