<div class="modal fade" id="modal-0" *ngIf="found && length > 0 else search">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <div class="modal-title">
                    <h4>{{currentBook.title}}</h4>
                    <p>{{currentBook.authors}} <span class="badge badge-danger">{{currentBook.categories}}</span></p>
                </div>

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" style="margin: 1em;">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-content" src="{{currentBook.thumbnail}}">
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <p>Informations complémentaires</p>
                        </div>
                        <div class="row">
                            <p><i class="fas fa-tag"></i> {{currentBook.price}}</p>
                        </div>
                        <div class="row">
                            <p><i class="fas fa-book"></i> {{currentBook.pageCount}} pages</p>
                        </div>
                        <div class="row">
                            <p><i class="far fa-clock"></i> Publié le {{currentBook.publishedDate}}</p>
                        </div>
                        <div class="row">
                            <p><i class="fas fa-print"></i> Edité par {{currentBook.publisher}}</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <p><i class="fas fa-align-left"></i> Résumé:</p>
                    <p>{{currentBook.description}}</p>
                </div>
                <div class="row mt-3">
                    <p *ngIf="currentBook.recommendationList.length != 0">Recommendation:</p>
                    <div class="row">
                        <div class="col-lg-4 mb-1" *ngFor="let book of currentBook.recommendationList; let i = index">
                            <a (click)="chooseABook(currentBook.recommendationList[i], books[i])">
                                <div class="row zoom-in mx-auto grid-container"
                                    style="height: 150px; width: 200px; margin: auto 1em;">
                                    <div class="title-area style-07">
                                        <div style="height: 70px; margin: 1em auto;">
                                            <p class="">{{currentBook.recommendationList[i].title_preview}}</p>
                                        </div>
                                    </div>
                                    <div class="image-area style-07">
                                        <img class="img-preview" src="{{currentBook.recommendationList[i].thumbnail}}">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>


            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="action-list" *ngIf="isAuth">
                    <button class="btn" title="Ajouter aux favoris" (click)=addToFav()><i
                            class="fa fa-star"></i></button>
                    <button class="btn" title="Ajouter aux livres lus" (click)=addToRead()><i
                            class="fa fa-book"></i></button>
                    <button class="btn" title="Ajouter aux livres à lire" (click)=addToToRead()><i
                            class="fa fa-book-reader"></i></button>
                </div>
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<ng-template #search>
    <div class="text-center" *ngIf="searching else waiting">
        <p><span class="spinner-grow spinner-grow-sm"></span> Recherche en cours ...</p>
    </div>
</ng-template>
<ng-template #waiting>
    <div class="text-center" *ngIf="found else noResult">
        <p>Veuillez choisir un livre et/ou un auteur.</p>
    </div>
</ng-template>

<ng-template #noResult>
    <div class="text-center">
        <p><i class="fas fa-search"></i> Aucun résultats trouvés.</p>
    </div>
</ng-template>